parameters:
	level: 9
	phpVersion: 80200
	parallel:
		jobSize: 20
		maximumNumberOfProcesses: 2
		minimumNumberOfJobsPerProcess: 1
	tmpDir: ./tmp/pstan-cache/

	bootstrapFiles:
		- ./vendor/autoload.php
		#- ./dev/phpstan/bootstrap.php
	scanDirectories:
		- ./src
	paths:
		- ./src

