<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="vendor/autoload.php"
         beStrictAboutTestsThatDoNotTestAnything="true"
         colors="true"
         cacheResultFile="./tmp/.phpunit.result.cache"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd
        ">
    <coverage includeUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>

    <testsuites>
        <testsuite name="renakdup-simple-dic Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
